<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include('partials/header') %>

</head>

<body>
    <% const currentPage='escuela-para-padres' ; %>
        <%- include('partials/theme-loader') %>
            <%- include('partials/side_menu', { currentPage: currentPage }) %>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper full-calender">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Escuela para padres</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="page-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <button id="btncrearcita" onclick="mostrar_formulario(true)"
                                                class="btn btn-primary">Crear
                                                cita</button>
                                        </div>
                                        <div id="calendario" class="card-block">
                                            <div class="row">

                                                <div class="">
                                                    <div id='calendar-escuela-para-padres'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <form id="formulario">
                                                <div class="mb-3 row">
                                                    <h5>Formulario de creación de cita</h5>
                                                </div>
                                                <div class="mb-3 row">

                                                    <div class="col-sm-3">
                                                        <label for="cmdpacientes">Elegir paciente:</label>
                                                        <select name="cmbpacientes" id="cmbpacientes"
                                                            onchange="cargar_pacientes()" class="form-control select2">
                                                            <option value="">Seleccionar</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label for="nombres">Nombres: *</label>
                                                        <input id="nombres" name="nombres" type="text"
                                                            class="form-control form-control-sm" required>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label for="apellidos">Apellidos: *</label>
                                                        <input id="apellidos" name="apellidos" type="text"
                                                            class="form-control form-control-sm" required>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label for="fecha_nac" class="">Fecha Nacimiento</label>
                                                        <input id="fecha_nac" name="fecha_nac" type="date"
                                                            class="form-control">
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <label for="dni">DNI: *</label>
                                                        <input id="dni" name="dni" type="text"
                                                            class="form-control form-control-sm" required>
                                                    </div>


                                                </div>

                                                <div class="mb-3 row">
                                                    <div class="col-sm-2">
                                                        <label for="nacionalidad">Nacionalidad: </label>
                                                        <input id="nacionalidad" name="nacionalidad" type="text"
                                                            class="form-control form-control-sm">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="sexo">Sexo: </label>
                                                        <select name="sexo" id="sexo"
                                                            class="form-control form-control-sm">
                                                            <option value="">Seleccione</option>
                                                            <option value="femenino">Femenino</option>
                                                            <option value="masculino">Mascuino</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label for="direccion">Dirección: </label>
                                                        <input id="direccion" name="direccion" type="text"
                                                            class="form-control form-control-sm" required>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="telefono">Teléfono: *</label>
                                                        <input id="telefono" name="telefono" type="number"
                                                            class="form-control form-control-sm" required>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label for="email">Email: *</label>
                                                        <input id="email" name="email" type="email"
                                                            class="form-control form-control-sm">
                                                    </div>

                                                </div>

                                                <div class="mb-3 row">
                                                    <div class="col-sm-2">
                                                        <label for="fecha_cita">Fecha de la cita: *</label>
                                                        <input id="fecha_cita" name="fecha_cita" type="datetime-local"
                                                            class="form-control form-control-sm" required>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="comentarios">Comentarios: </label>
                                                        <input id="comentarios" name="comentarios" type="text"
                                                            class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                        </div>
                                        <div id="botones_control" class="card-footer">
                                            <button onclick="crear()" type="submit"
                                                class="col-sm-2 btn btn-primary">Crear cita</button>
                                            <button type="reset" class="col-sm-2 btn btn-secondary">Limpiar</button>
                                            <button onclick="mostrar_formulario(false)" type="reset"
                                                class="col-sm-2 btn btn-warning">Regresar</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="page-error">
                                    <div class="card text-center">
                                        <div class="card-block">
                                            <div class="m-t-10">
                                                <i class="icofont icofont-warning text-white bg-c-yellow"></i>
                                                <h4 class="f-w-600 m-t-25">Not supported</h4>
                                                <p class="text-muted m-b-0">Full Calender not supported in this
                                                    device</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <div id="styleSelector">
                        </div>
                    </div>
                </div>

                <%- include('partials/footer') %>
                    <script type="module" src="/files/controllers/terapia-fisica.js"></script>
                    <script src="/files/controllers/recibir_fecha_clickeada.js"></script>
                    <!-- custom js -->
                    <script type="text/javascript" src="/files/assets/pages/full-calender/calendar-escuela-para-padres.js"></script>
</body>

</html>