<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/theme-loader') %>

        <section class="login-block">
            <!-- Container-fluid starts -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
    
                        <form class="md-float-material form-material">
                            <div class="text-center">
                                <img src="/files/assets/images/logo.png" alt="logo.png">
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center">Iniciar Sesión</h3>
                                        </div>
                                    </div>
                                    <div class="mb-3 form-primary">
                                        <input type="text" name="username" id="username" class="form-control" required
                                            placeholder="Usuario">
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="mb-3 form-primary">
                                        <input type="password" name="password" id="password" class="form-control" required
                                            placeholder="Contraseña">
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="row m-t-25 text-start">
                                        <div class="col-12">
                                            <div class="checkbox-fade fade-in-primary d-">
                                                <label class="form-label">
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i
                                                            class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse">Mantenerme conectado</span>
                                                </label>
                                            </div>
                                            <div class="forgot-phone text-end f-right">
                                                <a href="auth-reset-password.html" class="text-end f-w-600"> Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <div class="d-grid">
                                                <button id="btnEntrar" onclick="entrar()" type="button" class="btn btn-primary btn-md waves-effect waves-light text-center m-b-20">
                                                    Entrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="/files/assets/images/auth/Logo-small-bottom.png"
                                                alt="small-logo.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container-fluid -->
        </section>
        
            <%- include('partials/footer') %>
            <script type="module" src="/files/controllers/login.js"></script>
</body>

</html>
